.income-background-color {
  background-color: rgba(128, 128, 128, 0.089);
}
.form-control {
  width: 40%;
}

.persent-box {
  width: 15%;
  padding-left: 3%;
  padding-right: 3%;
}
.input-field-center {
  margin-left: 10%;
}
.button-color {
  color: white;
  background-color: rgba(12, 136, 185, 0.568);
  border-color: rgba(223, 219, 219, 0.836);
  border-radius: 5px;
}

.space-inputbox {
  margin-right: 8px;
}
.space {
  margin-left: 5%;
}
.save-space {
  margin-left: 22%;
}
